<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.xmind.ui.commands"
            defaultHandler="net.xmind.workbench.internal.handlers.CheckForUpdatesHandler"
            description="%command.checkForUpdates.description"
            id="net.xmind.ui.command.checkForUpdates"
            name="%command.checkForUpdates.name">
      </command>
      <command
            categoryId="net.xmind.ui.commands"
            defaultHandler="net.xmind.workbench.internal.handlers.SubscribeNewsletterHandler"
            description="%command.subscribeNewsLetter.description"
            id="net.xmind.ui.command.subscribeNewsletter"
            name="%command.subscribeNewsLetter.name">
      </command>
      <command
            categoryId="net.xmind.ui.commands"
            defaultHandler="net.xmind.workbench.internal.handlers.SendFeedbackHandler"
            description="%command.feedback.description"
            id="net.xmind.ui.command.feedback"
            name="%command.feedback.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="net.xmind.workbench.internal.XMindNetWorkbenchServiceCenter">
      </startup>
   </extension>
   <extension
         point="org.xmind.core.command.handlers">
      <handler
            class="net.xmind.workbench.internal.CheckForUpdatesCommandHandler"
            id="org.xmind.ui.xmindCommandHandler.checkForUpdates"
            command="^checkForUpdates$">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=group.xmindnet">
         <command
               commandId="net.xmind.ui.command.signIn"
               id="org.xmind.ui.menu.help.signin"
               label="%menu.help.signin.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <systemTest
                     property="net.xmind.signin.account.authenticated"
                     value="false">
               </systemTest>
            </visibleWhen>
         </command>
         <command
               commandId="net.xmind.ui.command.signOut"
               label="%menu.help.signout.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <systemTest
                     property="net.xmind.signin.account.authenticated"
                     value="true">
               </systemTest>
            </visibleWhen>
         </command>
         <command
               commandId="net.xmind.ui.command.signIn"
               id="org.xmind.ui.menu.help.showMyAccount"
               label="%menu.help.account.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <systemTest
                     property="net.xmind.signin.account.authenticated"
                     value="true">
               </systemTest>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?endof=group.assist">
         <command
               commandId="net.xmind.ui.command.feedback"
               id="org.xmind.ui.menu.help.feedback"
               label="%menu.help.feedback.label"
               style="push">
         </command>
         <command
               commandId="net.xmind.ui.command.subscribeNewsletter"
               id="org.xmind.ui.menu.help.subscribeNewsletter"
               label="%menu.help.newsLetter.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=group.updates">
         <command
               commandId="net.xmind.ui.command.checkForUpdates"
               id="org.xmind.ui.menu.help.checkForUpdates"
               label="%action.checkForUpdates.label"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
