<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.xmind.ui.browser.browserViewerContributions">
      <contribution
            class="net.xmind.signin.internal.XMindNetCommandContribution"
            id="org.xmind.ui.browserContribution.xmindCommandListener">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.xmind.ui.commands"
            name="%commandCategory.xmindnet.name">
      </category>
      <command
            categoryId="net.xmind.ui.commands"
            defaultHandler="net.xmind.signin.internal.handlers.SignInHandler"
            description="%command.signin.description"
            id="net.xmind.ui.command.signIn"
            name="%command.signin.label">
      </command>
      <command
            categoryId="net.xmind.ui.commands"
            defaultHandler="net.xmind.signin.internal.handlers.SignOutHandler"
            description="%command.signout.description"
            id="net.xmind.ui.command.signOut"
            name="%command.signout.label">
      </command>
   </extension>

</plugin>
