@import url("platform:/plugin/org.xmind.cathy/css/default.css");

.MPartStack{
	/*hover tab color */
	xmind-swt-hover-tab-color:#ffffff;
	swt-tab-height:30px;
}

.MPartStack.active{
	/*hover tab color */
	xmind-swt-hover-tab-color:#ffffff;
	swt-selected-tab-fill:#35a6d9 100%;
	swt-tab-height:30px;
}

#org-eclipse-ui-trim-status,
#org-eclipse-ui-trim-status *
{
	color : #ffffff;
}

Shell.MTrimmedWindow {
	background-color:#ffffff #2ca5dc 100%;
}

.MToolControl.TrimStack {
	frame-image:  url("./gtkTSFrame.png");
	handle-image:  url("./gtkHandle.png");
	frame-cuts: 5px 1px 5px 16px;
}

.MToolControl.Draggable {
	handle-image:  url("./dragHandle.png");
}

#org-eclipse-ui-trim-status .MToolBar.Draggable {
	handle-image:  url("./dragHandle.png");
}

MTabFolder{
	xmind-tab-folder-bg:#3ba8db;
}