<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.xmind.ui.commands"
            description="%command.upload.description"
            id="com.xmindshare.uploader.commands.upload"
            name="%command.upload.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.xmind.share.actions.UploadHandler"
            commandId="com.xmindshare.uploader.commands.upload">
         <activeWhen>
               <reference
                     definitionId="org.xmind.ui.expression.isMindMapEditorContributingContents">
               </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:shareMenu?after=group.internet">
         <command
               commandId="com.xmindshare.uploader.commands.upload"
               label="%menu.file.share.net.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.xmind.ui.toolbar.export.share.menu?after=group.internet">
         <command
               commandId="com.xmindshare.uploader.commands.upload"
               id="org.xmind.ui.toolbar.export.share.menu.xmindshare"
               label="%toolbar.share.net.label"
               style="push">
         </command>
      </menuContribution>
   </extension>


</plugin>
