.metadata
bin
tmp
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.settings/
.classpath
.gitignore
.project

# External tool builders
.externalToolBuilders/

# Folder containing Maven build results
target/
